@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap");

/* Đè lên style ant design */


.ant-card-meta-description p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
}

a {
  color: #000 !important;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer utilities {
  .addComma:after {
    content: ", ";
  }
  .addComma:last-child:after {
    content: "";
  }

  select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
  }

  input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input[type="radio"]::before {
    content: "";
    display: inline-block;
    visibility: visible;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    top: -1.5px;
  }

  input[type="radio"]:checked::before {
    content: "";
    display: inline-block;
    visibility: visible;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffd124;
    border: none;
    position: relative;
    top: -1.5px;
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #e0e3e7;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #fcd535;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #f0b90b;
  }
  .preventselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
